.page-footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    background: #eee;
    color: black;
}

.footer-ul {
    margin-left: 30px;
}

.container {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container > a {
    display: flex;
    align-items: center;
}

.footer-copyright {
    background: #ddd;
}
