.layout {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.layout-children {
    max-width: 1200px;
}
  
.card-image {
  width: 360px;;
}

.col {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card, horizontal {
  width: 1200px;
}

.input-field, col, s12 {
  width: 400px;
  align-self: flex-start;
}

.list-title-div {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.list-title {
  font-weight: bold;
}

.list-date {
  margin-left: 20px;
  color: #ccc;
}

.list-content {
  text-align: justify;
}